/* Styles for when page is being printed */

/* TODO: Task 2: Add CSS rule to hide nav.page-nav, header.page-header, and footer.page-footer (display: none) */

/* TODO: Task 2: Add CSS rule for .container to remove padding and max-width (padding: 0; max-width: none) */

/* TODO: Task 2: Add CSS rule for .about > div > section to remove columns (column-count: 1) */
