/* Styles for smaller browsers e.g. phones and tablets */

@media screen and (max-width: 480px) {
    nav .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav .active:before, nav .active:after {
        display: none;
    }

    nav a {
        border: 1px dotted #3d3d3d;
        margin: .5rem;
    }
}

@media screen and (max-width: 720px) {
    header {
        height: auto;
    }

    header .register {
        display: none;
    }

    header h1 {
        font-size: 3rem;
    }
}
