/* Styles for the feedback page */

#feedback-sent {
    display: none; /* Will be displayed using JavaScript, see feedback.js */
}

.feedback form {
    max-width: 60rem;    
}

.feedback {
    padding-bottom: 3rem;
}

.feedback .comments {
    margin: 1rem 0;
}

.feedback label {
    display: block;
}

.feedback textarea {
    display: block;
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
}

.feedback button {
    padding: .5rem;
}

.feedback-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: .5rem 0;
}

.feedback-question:nth-child(even) {
    background-color: #f5f4ff;
}

.feedback-question label {
    display: block;
    padding-right: 1rem;
    flex: 1 0 auto;
}

.star {
    background-image: url(../images/stars.png);
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: .1rem;
    flex: 0 0 15px;
}

.star:hover,
.star.hover {
    background-position: 0 -15px;
}

.star.selected {
    background-position: 0 -30px;
}

.sending {
    background-color: #EAEEFA;
    border: 1px solid #888;
    box-shadow: 0px 3px 3px rgba(0,0,0,.8);
}
