/* Styles for the location page */

#venue-map {
    display: grid;
    grid-template-columns: 75% 25%;
}

#venue-map svg {
    display: block;
}

#venue-map div {
    padding-left: 3rem;
}

.room {
    cursor: pointer;
}
