/* Styles for the page header */

header {
    height: 20rem;
    background-repeat: repeat-x;
    background-position: left bottom;
    border-bottom: 4px solid #1d1d1d;
}

header .container {
    padding: 1rem;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 6rem;
    padding-top: 3rem;
}

header p {
    font-size: 2rem;
    font-style: italic;
}


/* TODO: header.page-header .register */
header .register {

}

header .register:hover {
    
}

header .register:before {
    
}

header .register .free {
    font-size: 80%;
}





